
.main-footer {
    color: rgb(6, 6, 6);
    background-color: transparent;
    padding-top: 0em;
    position: relative;
    bottom: 0;
    width: 100%;
    border: 1px solid black;

    
  }
 .container{
    display: flex;
    bottom: 0%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    letter-spacing: 2px;
 }
.list-unstyled1{
    font-size: small;
    
}
.list-unstyled{
    position: relative;
    top: 2px;
}
.row{
    display: flex;
    justify-content: space-around;
}
.social-link{
    display: flex;
    align-items: end ;
    position: relative;
    left: 200px;
    bottom: 50px;
    
}
.contact-us{
    display: flex;
    align-items: end ;
    right: 500px;
}
.icon-link{
    padding: 20px;

}

.detail{
    position: relative;
    left: 100px;
}
#h4{
    font-weight: 900;
    padding: 5px;
}
#ui{
    font-size: small
}