.image-1 img{
    width: 100%;
    height: 700px;
} 

body{
    padding: 0;
    margin: 0;
    background-color:rgb(247, 207, 8) ;
}
h2, h3{
    position: relative;
    bottom: 450px;
    right: 400px;
    font-style: italic;
    font-weight: 500;
    
}
#button{
    border: 1px solid black;
    border-radius: 50px;
    color: rgb(250, 246, 246) solid;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(248, 85, 4);
    font-weight: 200px;


}


